@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Converter Application</h1>
    <p>Select a conversion type:</p>

    <a class="btn btn-primary m-2" href="/Home/MassConversion">Mass Conversion</a>
</div>
